{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ark of The Universe - Login</title>
  <link rel="icon" href="https://s2.coinmarketcap.com/static/img/coins/64x64/18712.png">
  <link rel="stylesheet" href="{% static 'css/login/style.css' %}">

  <!-- Bootstrap link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- Custom Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link href="https://file.myfontastic.com/S7uDWHU9z8tUiAoDEo92mH/icons.css" rel="stylesheet">
</head>

<body>
  <div id="content" class="vh-100 text-white d-flex align-items-center">
  	{% if user.is_authenticated %}
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-25 mx-auto px-4 py-5 login-card">
          <div class="ark-logo text-center mb-5 pt-5">
            <img width="75px" src="{% static 'img/logo-br.png' %}" alt="Ark Logo">
          </div>
          <div class="login-text text-center">
            You are already logged in.
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-25 mx-auto px-4 py-5 login-card">
          <div class="ark-logo text-center mb-5 pt-5">
            <img width="75px" src="{% static 'img/logo-br.png' %}" alt="Ark Logo">
          </div>

          <div class="login-text text-center">
            Select your preferred wallet to connect to <br />Ark of the Universe.
          </div>
          <div class="login-buttons mb-5">
            <div class="social-login d-flex flex-row justify-content-between">
              <div id="auth-metamask" class="metamask social-login-button">
                <img class="img-login-button" src="{% static 'img/login/MetaMask.png' %}" alt="MetaMask">
              </div>
              <div id="btn-login-walletconnect" style="background-color:grey" class="walletconnect social-login-button">
                <img class="img-login-button" src="{% static 'img/login/WalletConnect.png' %}" alt="WalletConnect">
              </div>
            </div>
          </div>

          <div class="card-footer mt-5">
            <div class="register-pass d-flex justify-content-between mb-5">
              <div class="lost">
                
              </div>
              <div class="version">
                V 0.0.1
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  <!-- Web3 -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>

  {% if user.is_authenticated %}
   {% else %}
   <script>
   const elBtnMetamask = document.getElementById('auth-metamask');
   const handleApiPost = async (endpoint, params) => {
     const result = await axios.post(`${endpoint}`, params, {
       headers: {
         'content-type': 'application/json',
         "X-CSRFToken": '{{ csrf_token }}'
       },
     });
   
     return result.data;
   };
   const requestMessage = (account, chain) =>
     handleApiPost('{% url 'request_message' %}', {
       address: account,
       chain: chain,
       network: 'evm',
     });
   const verifyMessage = (message, signature) =>
     handleApiPost('{% url 'verify_message' %}', {
       message,
       signature,
       network: 'evm',
     });
   const connectToMetamask = async () => {
     const provider = new ethers.providers.Web3Provider(window.ethereum, 'any');
   
     const [accounts, chainId] = await Promise.all([
       provider.send('eth_requestAccounts', []),
       provider.send('eth_chainId', []),
     ]);
     const signer = provider.getSigner();
     return { signer, chain: chainId, account: accounts[0] };
   };
   const handleAuth = async () => {
     // Connect to Metamask
     const { signer, chain, account } = await connectToMetamask();
     console.log("account", account, "chain", chain)
     if (!account) {
       throw new Error('No account found');
     }
     if (!chain) {
       throw new Error('No chain found');
     }
     const { message } = await requestMessage(account, chain);
     const signature = await signer.signMessage(message);
     const { user } = await verifyMessage(message, signature);
     console.log(user)
     if (user) {
       location.reload();
     }
     else{
       alert("authentication error")
     }
   };
   function init() {
     elBtnMetamask.addEventListener('click', async () => {
       handleAuth().catch((error) => console.log(error));
     });
   }
   window.addEventListener('load', () => {
     init();
   });
   </script>
   {% endif %}

  <!-- Bootstrap script -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>

</html>